# Ambientes virtuais
venv/
env/

# Arquivos de dados (CSVs brutos e processados)
data/processed/*

# Manter a pasta "processed" (mesmo vazia)
!data/processed/.gitkeep

# Ignorar os modelos treinados localmente
models/binario/modelo_binario/*
models/config/*
models/multiclasse/modelo_multiclasse/*

# Manter a pasta "models/binario/modelo_binario" (mesmo vazia)
!models/binario/modelo_binario/.gitkeep

# Manter a pasta "models/multiclasse" (mesmo vazia)
!models/multiclasse/modelo_multiclasse/.gitkeep

# Manter a pasta "models/config" (mesmo vazia)
!models/config/.gitkeep

# Incluir a pasta src/models/ e seu conteúdo
!src/models/

# Logs e bancos de dados
db/

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

# Arquivos sensíveis (ex.: credenciais)
.env
*.key
*.pem

# Arquivos de build e pacotes
dist/
build/
*.egg-info/